*{
  box-sizing: border-box;
}

#root{
  display: grid;
  place-items: center;
  height: 100%;
}
.App {
  text-align: center;
  max-width: 220px;
  margin: 40px;
}

input {
  width: 100%;
}

.showTodos {
  display: flex;
  justify-content: space-between;
  padding: 1px 5px;
}

span {
  cursor: pointer;
}